body {
    background-color: hsl(212, 45%, 89%);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  #rcorners1 {
    border-radius: 25px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    width: 200px;
    height: 150px;
  }